{% extends "base.html" %}
{% block title %}О Сайте{% endblock %}
{% block content %}
  <div class="container my-5 py-3 border rounded" style="max-width: 700px">
    <h5>Привет, меня зовут Тимофей Григоренко - я автор этого сайта.</h5>
    <p>
      Основной функционал сделан в рамках учебного проекта Яндекс Практикума.<br>
      Дополнительно добавлены: поиск по постам, лайки, страница редактирования профиля,
      возможность добавить аватар и удалять комментарии.<br>
      А также изменен дизайн.
    </p>
  </div>
{% endblock %}