{% extends 'base.html' %}
{% load thumbnail %}
{% load user_filters %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
{% comment %} <div class="container">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.created|date:"d E Y" }}
        </li>
        {% if post.group %}   
          <li class="list-group-item">
            Группа: {{ post.group }}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
            </a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: {{ post.author.username }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ amount_posts }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ post.text }}</p>
      {% if request.user == post.author %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
          редактировать запись
        </a>                
      {% endif %}
      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}      
              <div class="form-group mb-2">
                {{ form.text|addclass:"form-control" }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% endif %}
      
      {% for comment in comments %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
            <p>
              {{ comment.text }}
            </p>
          </div>
        </div>
      {% endfor %} 
    </article>
  </div> 
</div> {% endcomment %}
  
<div class="container">
  <div class="d-flex align-items-center mt-4">
    <div class="pe-3">
      <a href="{% url 'posts:profile' post.author.username %}">
        {% thumbnail post.author.profile_picture "60x60" crop="center" as im %}
          <img class="rounded-circle" alt="profile_picture" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      </a>
    </div>
    <div class="me-auto pt-3">
      <ul class="list-unstyled">
        <li>
          <a class="link_author h5" href="{% url 'posts:profile' post.author.username %}">
            {% if post.author.get_full_name == '' %} {{ post.author.username }} {% else %} {{ post.author.get_full_name }} {% endif %}
          </a>
        </li>
        <li>
          {{ post.created|date:"d E Y" }}
        </li>
      </ul>
    </div>
    {% if post.group %}   
    <div>
      <a class="btn btn-outline-dark button" href="{% url 'posts:group_list' post.group.slug %}">
        Группа {{ post.group }}
      </a>
    </div>
    {% endif %}
  </div>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img mt-3" src="{{ im.url }}">
  {% endthumbnail %}
  <p class="mt-3">{{ post.text }}</p>
  <div class="d-flex align-items-center justify-content-end mt-5 mb-4">
    <div>
      <svg display="none">
        <symbol viewBox="0 0 800 800" id="heart">
          <g>
            <path d="M413,695.7c-7.9,5.3-18.1,5.3-26,0c-61.5-41.1-320.3-224-320.3-396.6C66.7,76.4,328.3,40.8,400,190.8
              c71.7-150,333.3-114.3,333.3,108.3C733.3,471.7,474.5,654.6,413,695.7L413,695.7z"/>
        </symbol>
      </svg>
      <a class="btn btn-outline-dark btn-sm {% if request.user in post.likes.all %}active{% endif %}" href="{% url 'posts:like' post.id %}" role="button">  
        <svg class="heart">
          <use xlink:href="#heart"></use>
        </svg>
        {% if post.likes.count != 0 %}
          {{ post.likes.count }}
        {% endif %}
      </a>
    </div>
  </div>
  {% if user.is_authenticated %}
  <h5 class="pb-3">Добавить комментарий:</h5>
  <div class="d-flex justify-content-center">
    <div class="col-md-11">              
      <form method="post" action="{% url 'posts:add_comment' post.id %}">
        {% csrf_token %}      
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-outline-dark button">Отправить</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% for comment in comments %}
    <div class="d-flex mt-4">
      <div class="pe-2">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {% thumbnail comment.author.profile_picture "45x45" crop="center" as im %}
            <img class="rounded-circle" alt="profile_picture" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </a>
      </div>
      <div>
        <ul class="list-unstyled">
          <li>
            <a class="link_author h6" href="{% url 'posts:profile' comment.author.username %}">
              {% if comment.author.get_full_name == '' %} {{ comment.author.username }} {% else %} {{ comment.author.get_full_name }} {% endif %}
            </a>
          </li>
          <li>
            {{ comment.created|date:"d.m.y G:i" }}
          </li>
        </ul>
      </div>
    </div>
    <div class="">
      {{ comment.text }}
    </div>
    {% if forloop.last%}
     <div class="mb-5"></div>
    {% endif %}
  {% endfor %} 
  {% if comments.count == 0 and user.is_authenticated %}
    <p class="fw-light mt-3 mb-5">Ваш комментарий будет первым!</p>
  {% endif %}
</div>
{% endblock %}